#mainlabel{
    font-size: 20px;
    background-color: blue;
    color: white;
    padding: 1px;
    margin: 2px;
    border-radius: 10px;
}
#nomatcheslabel{
    background-color: red;
}

#loggedlabel{
    background-color: rgb(65, 148, 86);
    color: black;
}


#sendanotherquerybutton{
    color: rgb(43, 158, 72);
}
#sendanotherquerybutton:hover{
    background-color: rgb(153, 206, 47);
}
#sendanotherquerybutton:active{
    background-color: rgb(204, 129, 31);
}


#logfailedbutton{
    background-color: rgb(87, 86, 87);
    color: white;
}
#logfailedbutton:hover{
    background-color: rgb(153, 206, 47);
}
#logfailedbutton:active{
    background-color: rgb(204, 129, 31);
}


#logout_button{
    background-color: rgb(87, 86, 87);
    color: white;
}
#logout_button:hover{
    background-color: rgb(153, 206, 47);
}
#logout_button:active{
    background-color: rgb(204, 129, 31);
}


#sendbutton {
    background-color: rgb(87, 86, 87);
    color: white;
}
#sendbutton:hover{
    background-color: rgb(153, 206, 47);
}
#sendbutton:active{
    background-color: rgb(204, 129, 31);
}

/*{background-color: white;}
hover {background-color: rgb(153, 206, 47);}
active {background-color: rgb(219, 95, 95);}

https://stackoverflow.com/questions/16740949/gtk-cssprovider-how-do-id-based-selectors-work-in-gtk3
 https://developer.gnome.org/gtk3/stable/chap-css-overview.html
*/
